<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>About Splurty</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <p>This silly web app was built by John Ellison, a freelance UX Designer who loves to code. This constitutes course 1 of <a href="http://thefirehoseproject.com">The Firehose Project</a></p>
      <p>John shares his story and his passion behind his work on his website: <a href="http://john-ellison.com">john-ellison.com</a></p>
    </div>
    <div class="col-xs-6">
      <%= image_tag 'john-ellison.png', :class => 'img-responsive', :width => '250' %>
    </div>
  </div>
</div>
<br class="clear">