<h3>
  <span>SPLURTY No. <%= @quote.unique_tag %></span>
  <br>
</h3>
<h1><em>I decided to drop out of school: </em></h1>
<h2><%= @quote.saying %></h2>
<h4 class="quote-author">&mdash; <%= @quote.author %></h4>