// Variables
$default-font: "Open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;

$global-margin: 2rem;

// Styles

body {
  font-family: $default-font;
}

.clear {
  clear: both;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

header {
  border-top: 9px solid #222222;
}

hr {
  clear:both;
}

h3 {
  text-align: center;
  padding: 2rem;
  span {
    text-decoration: underline;
  }
  em {
    color: #f84342;
  }
}

h1, h2 {
  font-family: $default-font;
  font-weight: 600;
  letter-spacing: -1.5px;
  text-align: center;
}

.quote-author {
  margin-left: 4rem;
}

h1 {
  font-size: 4rem;
}

.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #f84342;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(-11deg);
    transition: .2s all ease-in-out;
    &:hover {
      transform: scale(1.1);
      box-shadow: 3px 3px 3px gray;
      transform:rotate(349deg);
    }
}

.logo:hover {
  text-decoration: none;
}

.slogan {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  padding-top: 5rem;
}

.links {
  padding-top: 4rem;
  a {
    color:black;
    font-size: 25px;
    border-bottom: 1px solid #dfdfdf;
    font-family: $default-font;
    font-weight: 600;
    margin-right: $global-margin;
    &:hover {
      text-decoration: none;
      color: #dfdfdf;
    }
  }
}

.form-control {
  margin-bottom: $global-margin;
}

::selection {
  background-color: #f84342;
}